@font-face {
  font-family: "GlassAntiqua-Regular";
  src: url("../assets/fonts/GlassAntiqua-Regular.ttf");
}
@font-face {
  font-family: "JosefinSlab";
  src: url("../assets/fonts/JosefinSlab-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "JosefinSlab";
  src: url("../assets/fonts/JosefinSlab-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "JosefinSlab";
  src: url("../assets/fonts/JosefinSlab-Thin.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "JosefinSlab";
  src: url("../assets/fonts/JosefinSlab-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "JosefinSlab";
  src: url("../assets/fonts/JosefinSlab-Medium.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "JosefinSlab";
  src: url("../assets/fonts/JosefinSlab-Bold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "MPLUSRounded1c";
  src: url("../assets/fonts/MPLUSRounded1c-Thin.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "MPLUSRounded1c";
  src: url("../assets/fonts/MPLUSRounded1c-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "MPLUSRounded1c";
  src: url("../assets/fonts/MPLUSRounded1c-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "MPLUSRounded1c";
  src: url("../assets/fonts/MPLUSRounded1c-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "MPLUSRounded1c";
  src: url("../assets/fonts/MPLUSRounded1c-ExtraBold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "MPLUSRounded1c";
  src: url("../assets/fonts/MPLUSRounded1c-Black.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../assets/fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: "RubikDoodleShadow";
  src: url("../assets/fonts/RubikDoodleShadow-Regular.ttf");
}

body,
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow: visible;
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  overflow-x: hidden;
  position: relative;
}
body.modal-open {
  overflow: hidden;
}

h2 {
  font-size: 2em;
  font-weight: 500;
}

h3 {
  font-size: 1.6em;
  font-weight: 300;
}

.nav {
  justify-content: space-between;
  direction: ltr !important;
  z-index: 10;
}

#nav {
overflow: hidden;
height: min-content;
z-index: 1000;
}

.observations-wrapper {
  background-color: rgba(186, 239, 194, 0.4);
}

.observationsBullets li {
  margin-bottom: 1em !important;
}
.observationsBullets li a {
  text-decoration: none;
  color: black;
}

.informationImagesItaly {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
  padding: 1em;
  background-color: #f5f5f5;
  margin: 4em auto;
  text-align: center
}

.informationImagesItaly .imgWrapper {
  width: 20vw !important;
  text-align: center;
}

.informationImagesItaly .imgWrapper p {
 font-size: 19px;
 text-align: right;
}

.typesAndSpeciesWrapper {
  position: relative;
  background-color: #f5f5f5;
  width: 100vw;
  text-align: center;
  padding-bottom: 8em !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.typesAndSpeciesWrapper .MuiAutocomplete-input {
  direction: ltr !important;
}

.decorative-print {
  width: 200px;
  z-index: -1;
}

@media only screen and (max-width: 1200px) {
  .typesAndSpeciesWrapper .decorative-types, .decorative-toxic, .decorative-print {
    z-index: -1;
    width: 60%;
  }
  .decorative-species {
    width: 50%;
  }
}

.typesAndSpeciesSubtitle {
  max-width: 55%;
  font-weight: 500;
  font-size: 20px;
  margin-top: 40px;
}

.underlined {
  text-decoration: underline;
}

.LiteratureBullets {
  list-style-type: decimal;
}

.LiteratureBulletsEnglish {
  list-style-type: decimal;
  direction: ltr;
  text-align: left;
}

.LiteratureBulletsEnglish li {
  text-align: left !important;
}

@media only screen and (max-width: 600px) {
  .typesAndSpeciesSubtitle {
    max-width: 70%;
    font-size: 13px;
  }
}

.typesAndSpeciesText {
  max-width: 70%;
  margin: 0 0 10px !important;
  text-align: right;
}

.typesAndSpeciesBullets, .toursAndConferencesBullets {
  width: 80%;
  margin: 0 auto;
  max-height: 25em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.typesAndSpeciesBullets li a, .toursAndConferencesBullets li a {
  text-decoration: none;
  color: #000;
}
.toursAndConferencesBullets li {
  margin: 1.5em 0 !important;
}

.toursAndConferencesDropdown {
  margin-right: -45px;
}

.attention {
  color: red ;
}

.informationDropdown {
  margin-right: -90px !important;
}

.informationDropdown a {
  line-height: 0;
  margin: 0;
  padding: 0;
}

.observationsDropdown {
  margin-right: 0px;
}

.yehudaAndModiinBullets  {
  font-size: 10px;
}
#literature {
  background-color: #fff;
}
.typesAndSpeciesBullets li a, .toursAndConferencesBullets li a {
  transition: 0.1s ease-in-out all;
}
.typesAndSpeciesBullets li a:hover, .toursAndConferencesBullets li a:hover {
  color: #96B7C4;
}
#nav .dropdown {
  position: fixed;
  top: 50px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
  z-index: 200;
  padding: 0;
  text-align: center;
  padding: 20px 25px;
}

#nav .hebrewLink {
  padding: 0;
}

#nav .dropdown .submenu-item {
  z-index: 1000;
  list-style-type: none;
  padding-top: 5px;
}
#nav .dropdown .englishLink {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0px !important;
}

#nav .dropdown .submenu-item a {
  text-decoration: none;
  color: #000;
  transition: all 0.25s;
  font-size: 1.1em;
}

#nav .dropdown .submenu-item a:hover {
  color: #96B7C4 !important;
}

.nav-text-link a {
  color: black;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.2px;
  padding-right: 25px;
  transition: all 0.25s;
}
@media only screen and (max-width: 1400px) {
  .nav-text-link a {
    font-size: 18px;
  }
  #information .dataList .informationBullets {
    max-height: 65em !important;
  }
}
@media only screen and (max-width: 1000px) {
  .inner-section h2 {
    margin-top: 0 !important;
  }
  .nav-text-link a {
    font-size: 14px;
  }
  .typesAndSpeciesBullets {
    max-height: 50em;
  }
  
}

.menu-items {
  position: absolute;
  z-index: 100;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  list-style: none;
  margin: 1.4em 0;
}
.menu-items li a {
  color: black;
  font-size: 1.2em;
  text-decoration: none !important;
  transition: all 0.1s ease-in-out;
}
.menu-items li a:hover {
  color: #96B7C4 !important;
}

.nav-text-link a:hover {
  color: #96B7C4;
  text-decoration: none;
  transition: all 0.25s;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo a {
  color: black;
  letter-spacing: 0.2px;
  text-decoration: none;
  padding-left: 10px;
  transition: all 0.25s;
  display: flex;
}

.nav-logo a:hover {
  color: #96B7C4;
  text-decoration: none;
  transition: all 0.25s;
}

.navcolumn1 {
  margin-left: 0px;
  display: flex;
  flex-grow: 0;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1em;
}

.navcolumn1 .languages {
  margin: 0 2em;
  display: flex;
}

.navcolumn1 .languages .language {
  margin: 0 0.4em;
  background: transparent;
  border: none;
}

.navcolumn1 .languages .language:hover{
  cursor: pointer;
}

.navcolumn1 .languages .language {
  margin: 0;
  background: transparent;
  border: none;
}

.navcolumn1 .languages .language img {
  width: 2.2em;
  height: 2.2em;
  background: transparent;
  transition: 0.2s ease-in-out;
}

.navcolumn1 .languages .language img:hover {
  transform: scale(1.2);
}

.navcolumn2 {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  flex-grow: 0;
  padding: 0 1em;
  position: relative;
}

.nav {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 0px;
  margin-bottom: 0.6rem;
  width: 100%;
  overflow: auto;
  align-content: center;
  height: 60px;
  background: white;
  position: fixed;
  z-index: 1;
  transition: all 1s;
  margin-left: 0px !important;
  padding-left: 0px;
  padding-right: 0px;
}
.nav .nav-text-link {
  display: flex;
  align-items: center;
}
.nav .hamburger {
  display: none !important;
  justify-content: flex-start;
  display: flex;
  flex-grow: 0;
}
.nav .hamburger .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}
.nav .hamburger .hamburger {
  position: relative;
}
.nav .hamburger .hamburger .nav-container li {
  list-style: none;
}
.nav .hamburger .hamburger .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}
.nav .hamburger .hamburger .nav-container a:hover {
  font-weight: bolder;
}
.nav .hamburger .nav-container {
  display: block;
  position: relative;
  height: 60px;
}
.nav .hamburger .nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  right: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.nav .hamburger .nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav .hamburger .nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}
.nav .hamburger .nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.nav .hamburger .nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}
.nav .hamburger .nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
.nav .hamburger .nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}
.nav
  .hamburger
  .nav-container
  input[type="checkbox"]:checked
  ~ .hamburger-lines
  .line1 {
  transform: rotate(45deg);
}
.nav
  .hamburger
  .nav-container
  input[type="checkbox"]:checked
  ~ .hamburger-lines
  .line2 {
  transform: scaleY(0);
}
.nav
  .hamburger
  .nav-container
  input[type="checkbox"]:checked
  ~ .hamburger-lines
  .line3 {
  transform: rotate(-45deg);
}
.nav .hamburger .nav-container .hamburger-lines.closed .line3,
.nav .hamburger .nav-container .hamburger-lines.closed .line2,
.nav .hamburger .nav-container .hamburger-lines.closed .line1 {
  transform: rotate(0) !important;
}
.nav .hamburger .nav-container .hamburger-lines.open .line1 {
  transform: rotate(45deg) !important;
}
.nav .hamburger .nav-container .hamburger-lines.open .line2 {
  transform: scaleY(0) !important;
}
.nav .hamburger .nav-container .hamburger-lines.open .line3 {
  transform: rotate(-45deg) !important;
}
.nav .hamburger .nav-container input[type="checkbox"]:checked ~ .logo {
  display: none;
}
@media only screen and (max-width: 1250px) {
  .nav .navcolumn2 {
    display: none;
  }
  .nav .hamburger {
    display: block !important;
  }
}

@media only screen and (max-width: 1000px) {


  #information .dataList .informationBullets {
    max-height: 70em !important;
    width: 100vw;
  }
}
.logo {
  font-size: 1.6em !important;
  font-weight: 500;
  text-decoration: none;
  color: #000;
  position: relative;
}
.logoPng {
  width: 160px;
  height: 160px;
}

@media only screen and (max-width: 600px) {
  .logoPng {
    width: 60px;
    height: 60px;
  }
}

.svg-logo {
  width: 60px;
}

.header-welcome {
  font-size: 1.5em !important;
  color: black;
  margin-top: 0;
  font-weight: 600;
}

.header-logo .svg {
  width: 25px;
  position: absolute;
  top: 4px;
  left: 2px;
}

.header-logo {
  position: relative;
  font-family: "RubikDoodleShadow";
  width: max-content;
  margin: 0 auto;
  font-size: 7em !important;
}
.logo.footer-logo {
  font-size: 1em !important;
  padding-left: 0.3em;
}
.logo.footer-logo:after {
  right: 2.15em;
  top: 35%;
}
@media only screen and (max-width: 1000px) {
  .informationImagesItaly {
    flex-direction: column;
    align-items: center
  }
  .header-welcome {
    font-size: 1em !important;
    font-weight: 700;
  }
  .header-logo {
    font-size: 3em !important;
  }
  .header-logo .svg {
    width: 19px !important;
    top: -10px !important;
    left: -4px;
  }
}
@media only screen and (max-width: 800px) {
  .logo {
    font-size: 1.8em !important;
  }

  .svg-logo {
    width: 40px;
  }
  
  h1 {
    font-size: 2em !important;
  }
  textArea {
    width: -webkit-fill-available !important;
  }
  #information .dataList .informationBullets {
    max-height: 100em !important;
  }
}

.news {
  position: relative;
  height: 720px;
  width: 100%;
}
.news-text{
  padding: 50px 220px;
  z-index: 10;
  position: relative;
}
.news-text h4 {
  font-size: 30px;
  margin: 20px 0 30px;
}
.sign-img { 
  z-index: 0;
  top: 20px;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  left: 0%;
}

@media only screen and (max-width: 1300px) {
  .news {
    height: 700px;
    width: 100%;
  }
  .news-text{
    padding: 60px 90px !important;
    z-index: 10;
    position: relative;
  }
  .news-text p{
    font-size: 16px !important;
    line-height: 1.5 !important;

  }
  .news-text h4 {
    font-size: 24px;
    margin: 10px 0;
  }
  .sign-img { 
    z-index: 0;
    top: 50px;
    position: absolute;
    width: 120%;
    margin: 0 auto;
    left: -10%;
  }
}
@media only screen and (max-width: 1150px) {
  .news {
    height: 600px;
  }
}
@media only screen and (max-width: 1000px) {
  .news {
    height: 480px;
    width: 100%;
  }
  .news-text{
    padding: 20px 50px !important;
    z-index: 10;
    position: relative;
  }
  .news-text p{
    font-size: 14px !important;
    line-height: 1.5 !important;

  }
  .news-text h4 {
    font-size: 20px;
    margin: 10px 0;
  }
  .sign-img { 
    z-index: 0;
    top: 50px;
    position: absolute;
    width: 120%;
    margin: 0 auto;
    left: -10%;
  }
}
@media only screen and (max-width: 800px) {
  .news {
    height: 450px;
    width: 100%;
  }
  .news-text{
    padding: 30px 120px !important;
    z-index: 10;
    position: relative;
  }
  .news-text p{
    font-size: 15px !important;
    line-height: 1.3 !important;
  }
  .news-text h4 {
    font-size: 22px;
    margin: 10px 0;
  }
  .sign-img { 
    z-index: 0;
    top: 50px;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 0%;
  }
}
@media only screen and (max-width: 700px) {
  .news {
    height: 400px;
  }
  .news-text{
    padding: 10px 120px !important;
  }
  .news-text h4 {
    font-size: 20px;
  }
  .news-text p{
    font-size: 13px !important;
  }
}
@media only screen and (max-width: 600px) {
  .news {
    height: 350px;
  }
  .news-text{
    padding: 10px 80px !important;
  }
  .news-text h4 {
    font-size: 16px;
  }
  .news-text p{
    font-size: 11px !important;
  }
}
@media only screen and (max-width: 500px) {
  .news {
    height: 300px;
    width: 100%;
  }
  .news-text{
    padding: 20px 30px !important;
    z-index: 10;
  }
  .news-text p{
    font-size: 12px !important;
    line-height: 1.3 !important;
  }
  .news-text h4 {
    font-size: 18px;
    margin: 10px 0;
  }
  .sign-img { 
    z-index: 0;
    top: 50px;
    width: 120%;
    margin: 0 auto;
    left: -10%;
  }
  
  #header {
    padding: 150px 0 65px !important;
  }
  .nav-logo a {
    /* padding-left: 0; */
    font-size: 1.5em !important;
  }
  
  h1 {
    font-size: 1.3em !important;
  }
  .header-logo {
    font-size: 1.5em !important;
  }
  .header-text-wrapper {
    margin-top: 5px;
  }
  .header-welcome {
    font-size: 10px !important;
    margin-top: 3px;
  }
  .header-logo .svg{
    width: 13px !important;
    left: 0;
  }
  
  footer p, footer a {
  font-size: 0.8em !important;
}
}

@media only screen and (max-width: 400px) {
.news {
  height: 300px;
}
.news-text{
  padding: 20px !important;
}
.news-text p{
  font-size: 10px !important;
  line-height: 1 !important;
}
.news-text h4 {
  font-size: 14px;
  margin: 10px 0;
}
.sign-img { 
  z-index: 0;
  top: 50px;
  width: 120%;
  margin: 0 auto;
  left: -10%;
}
}

.goBackWrapper {
  margin: 1em 2em;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

@media only screen and (min-width: 500px) {
  .goBackWrapper {
    margin: 0;
  }
}


.goBackArrow {
  max-width: 30px;
  margin-left: 10px;
}

.goBackButton {
  font-family: 'MPLUSRounded1c';
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  transition: 0.2s ease-in-out all;
}

.goBackButton:hover {
  cursor: pointer;
  color: #96B7C4 !important;
}

.informationText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.informationText p {
  width: 75vw;
}

.informationText .imgWrapper {
  text-align: center;
}

@media only screen and (min-width: 500px) {
  .informationText .largerImg img {
    max-width: 40em !important;
    max-height: 30em !important;
  }
}

.informationText .imgWrapper p {
  width: inherit;
  text-align: center;
}

.informationText ul {
  width: 65vw;
}

.informationImages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2em 0 0;
}

@media only screen and (max-width: 1300px) {
  .informationImages {
    flex-direction: column;
  }
}

.leftText {
  text-align: left !important;
  direction: ltr !important;
}

.informationImages .imgWrapper p {
  text-align: center;
  margin: 0 auto !important;
}

.informationTextQuestions li {
  list-style-type: decimal; 
}

.informationImages .imgWrapper {
  flex-direction: column;
  margin: 2em;
  align-items: center;
  display: flex;
  justify-content: center;
}

.informationImages .imgWrapper img {
  max-width: 30em;
  max-height: 20em;
}

.nutritionalValueInAMushroomList li p {
  font-size: 22px;
}

.vitaminTable {
  border: 1px solid black;
  margin: 3em 0 5em;
}

.vitaminTable tr th {
  background-color: #96B7C4;
  padding: 15px;
}

.vitaminTable tr td {
  padding: 10px;
}

.vitaminTable .tableMushroom {
  font-weight: 700;
}

.informationImages .imgWrapper p {
  font-size: 18px;
}

#sharonShfela .informationImages {
  margin: 1em 0 !important
}

#binyaminaMeddow .groundBullets li {
  font-size: 20px;
  margin: 1em 0
}

.hide {
  margin-top: -80px;
}

.show {
  margin-top: 0px;
  padding: 10px 0;
}

header {
  position: relative;
  background-size: 100%;
  background-color: rgba(207, 206, 206, 0.331);
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  padding-top: 70px;
  height: 92vh;
  letter-spacing: 4px;
}

.bg-img {
  opacity: 0.7;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 90%;
  height: 85%;
  object-fit: fill !important;
}

@media only screen and (max-width: 1700px) {
  header {
    height: 60vw;
  }
}

@media only screen and (max-width: 600px) {
  .bg-img {
    width: 100%;
    object-fit: cover;
  }
  header {
    height: 50vw;
  }
  .typesAndSpeciesBullets {
    max-height: 80em;
  }
}

header h1 {
  font-size: 2em;
  font-weight: 300;
  margin: 0;
  color: black;
  text-shadow: 2px 5px 7px black;
  -webkit-text-stroke: 2px black;
  /* width and color */
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
}
.inner-section {
  padding: 3em 5em;
  min-height: 77.8vh;
}
@media only screen and (max-width: 1000px) {
  .inner-section {
    padding: 1em 2em;
  }
}

@media only screen and (max-width: 500px) {
  body, html {
    overflow-x: hidden;
  }

  .informationImages .imgWrapper img {
    max-width: 30em;
  }

  .menu-items ul {
    padding: 0;
  }

  .menu-items ul li a {
    padding: 0;
  }

  .section {
    margin: 2em 0;
  }
}

.inner-section h2 {
  text-align: center;
  font-size: 3em;
}

.folkloreText p{
  font-size: 1em !important;
  line-height: 2;
  margin: 0;
  text-align: right;
  font-weight: 400 !important;
}
.inner-section p {
  font-size: 1.3em;
  line-height: 2;
  margin: 0;
  text-align: right;
  font-weight: 400 !important;
}
.inner-section ul li {
  font-size: 1.2em;
  line-height: 1.5;
  margin: 0;
  text-align: right;
}
.whatsInSite {
  font-size: 2em;
}
@media only screen and (max-width: 600px) {
  .inner-section {
    font-size: 3vw;
  }
}

#about {
  position: relative;
}
.aboutWhatsInSiteBullets {
  margin-bottom: 2em;
}
.aboutWhatsInSiteBullets li {
  font-size: 16px;
}
#about .corner-bottom-right {
  position: absolute;
  width: 8em;
  top: 3em;
  left: 25em;
  transform: rotate(85deg);
}
@media only screen and (max-width: 1600px) {
  #about .corner-bottom-right {
    top: -5em;
    left: 15em;
  }
}
@media only screen and (max-width: 1150px) {
  #about .corner-bottom-right {
    top: -8em;
    left: 3em;
  }
}
@media only screen and (max-width: 600px) {
  #about .corner-bottom-right {
    display: none;
  }
}
#about .corner-top-left {
  position: absolute;
  width: 8em;
  bottom: 0;
  right: 25em;
  transform: rotate(-95deg);
}
@media only screen and (max-width: 1600px) {
  #about .corner-top-left {
    right: 15em;
    bottom: -5em;
  }
}
@media only screen and (max-width: 1150px) {
  #about .corner-top-left {
    bottom: -8em;
    right: 3em;
  }
}
@media only screen and (max-width: 600px) {
  #about .corner-top-left {
    display: none;
  }
}

.about-wrapper {
  width: 70vw;
}

.about-wrapper p {
  font-weight: 300;
}

@media only screen and (max-width: 1150px) {
  .about-wrapper {
    width: 60vw;
  }
}
.about-wrapper h2 {
  margin-bottom: 1.3em;
}

#gallery {
  position: relative;
}

#gallery .mushroom-classification {
  position: relative;
  width: max-content;
  margin: 1em auto;
  font-family: "OpenSans-Light";
  font-size: 2em;
}

.swiper-button-next, .swiper-button-prev {
  background: rgba(255, 255, 255, 0.5);
}

.typeTable {
  margin-top: 3em;
  text-align: center;
}
.typeTable a {
  font-size: 1.5em;
  text-decoration: none;
}
@media only screen and (max-width: 1300px) {
  .swiper {
    width: 75%;
    height: 40vw;
  }
}
@media only screen and (max-width: 600px) {
  .swiper {
    width: 80%;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-radius: 25px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.swiper-slide img:hover {
  cursor: pointer;
  opacity: 0.6;
}
.lazyload-wrapper {
  height: 100%;
  border-radius: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  color: black;
  transition: 0.25s all ease-in-out;
  padding: 0.5em;
  border-radius: 5px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.1);
}

.observationsBullets li a {
  transition: 0.1s ease-in-out all;
}
.observationsBullets li a:hover {
  color: #96B7C4;
}
@media only screen and (max-width: 800px) {
  .about-wrapper {
    width: 85vw;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 20px !important;
  }
}

#lightbox-img {
  height: 90vh;
  max-width: 90vw;
  object-fit: cover;
}

#lightbox {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.developedByLink {
  text-decoration: none;
  color: #0009ba;
  transition: 0.2s ease-in-out all;
}
.developedByLink:hover {
  color: white !important;
  font-size: 108%;
}

#folklore {
  text-align: center;
}
.folkloreSubtitle {
  z-index: 10;
  opacity: 1;
  font-weight: 500;
  font-size: 3em;
}
.folkloreData {
  text-align: justify !important;
}

@media only screen and (max-width: 800px) {
  #folklore {
    margin: 12em 0 0;
  }
}

.folklore-wrapper .swiper {
  height: 100vh;
  width: 80vw;
}

@media only screen and (max-width: 1000px) {
  .folklore-wrapper .swiper {
    width: 90%;
  }
}
@media only screen and (max-width: 600px) {
  .folklore-wrapper .swiper {
    height: min-content !important;
  }
  .folklore-wrapper .swiper .swiper-slide p {
    font-size: 10px !important;
  }
}

.folklore-wrapper .swiper .folkloreName {
  padding-top: 40px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1em !important;
  font-size: 24px;
}
@media only screen and (max-width: 600px) {
  .folklore-wrapper .swiper .folkloreName {
    padding-top: 10px;
  }
}

 .folklore {
  font-weight: 500;
  line-height: 1.5;
}
.folklore-wrapper .swiper .swiper-button-next,
.folklore-wrapper .swiper .swiper-button-prev {
  color: black;
}
#folklore .swiper-wrapper {
  align-items: center;
  border-radius: 25px;
}

@media only screen and (max-width: 1000px) {
  .folklore-wrapper .swiper-wrapper {
    height: auto;
    width: auto;
  }
}
.decorative {
  opacity: 0.2;
  position: absolute;
  top: 3%;
  right: 20%;
  width: 65%;
}

.decorative-edible {
  opacity: 0.2;
  position: absolute;
  top: 10%;
  right: 20%;
  width: 65%;
  z-index: -1;
}

.decorative-about {
  opacity: 0.2;
  position: absolute;
  top: 10%;
  right: 20%;
  width: 60%;
  z-index: -1;
}

.decorative-names {
  opacity: 0.2;
  position: absolute;
  top: 10%;
  right: 20%;
  width: 60%;
  z-index: 1;
}

.decorative-information {
  opacity: 0.2;
  position: absolute;
  top: -10%;
  right: 10%;
  width: 60%;
  z-index: -1;
}

@media only screen and (max-width: 1200px) {
  .decorative {
    top: 10%;
    right: 7%;
    width: 90%;
    z-index: -1;
  }
  .decorative-about, .decorative-names, .decorative-information {
    opacity: 0.2;
    position: absolute;
    top: 20% !important;
    right: 0% !important;
    width: 100% !important;
    z-index: -1;
  }
}

.folklore-wrapper .swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  justify-content: flex-start;
  height: 100vh !important;
}
.folklore-wrapper .swiper .swiper-slide p {
  font-size: 18px;
  margin: 0 5em;
}
@media only screen and (max-width: 1650px) {
  .folklore-wrapper .swiper .swiper-slide p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1400px) {
  .folklore-wrapper .swiper .swiper-slide p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1000px) {
  .folklore-wrapper .swiper .swiper-slide p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 850px) {
  .folklore-wrapper .swiper .swiper-slide p {
    font-size: 14px;
  }
  
  .decorative-edible {
    opacity: 0.2;
    position: absolute;
    top: 10%;
    right: 0%;
    width: 100%;
    z-index: -1;
  }
}

.folklore-wrapper .swiper .swiper-slide img {
  width: 1.5em;
  height: 1.5em;
  margin: 0.2em 0;
}

.folklore-bg {
  background-image: url("../assets/images/wooden-background.jpeg");
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 800px) {

  .MuiFormControl-root, .input-wrapper {
    width: 100% !important;
  }
   .textArea-input-wrapper {
    margin: 0 !important;
    margin-top: 1.4em !important;
  }
}

.MuiBox-root {
  margin: 20px !important;
  font-weight: 700;
}

.gallery-wrapper {
  background-color: #f5f5f5;
  padding-bottom: 3em;
}

#information .dataList {
  display: flex;
  justify-content: flex-end;
}

#information .dataList .informationBullets {
  max-height: 45em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

#information .dataList ul {
  width: 80%;
}

#information .dataList ul li {
  margin: 1em 0;
}

#information .dataList ul li a {
  text-decoration: none;
  color: #000;
}

#information .dataList ul li a {
  transition: all 0.1s ease-in-out;
}
#information .dataList ul li a:hover {
  color: #96B7C4;
}

.information-wrapper {
  text-align: center;
  padding-bottom: 2em !important;
}

footer {
  text-align: center;
  font-size: 1.2em;
  padding: 2em 0;
  background-color: #96B7C4;
}

.devider {
  width: 50vw;
  margin-bottom: 2em;
}
@media only screen and (min-width: 600px) {
  .devider {
    display: none;
  }
}

.swiper-slide-wrapper {
  display: flex;
  flex-direction: column;
}

.swiper-image-title {
  position: absolute;
  top: 1em;
  background: rgba(255, 255, 255, 0.5);
  font-size: 0.8em !important;
  line-height: 0.8 !important;
  padding: 0.5em;
  border-radius: 5px;
  font-weight: 500;
}

.house-swiper {
  margin-bottom: 4em;
}

.swiperDevider {
  width: 15em;
  margin-top: 1em;
}

@media only screen and (max-width: 600px) {
  .swiper-image-title {
    font-size: 0.5em !important;
  }
}

fieldset {
  border: none !important;
}

.MuiInputAdornment-positionEnd {
  position: absolute;
  right: 7px;
  top: 17px;
}

label.MuiInputLabel-animated {
  color: black !important;
}

label.Mui-focused {
  color: lightskyblue !important;
}

.to {
  font-weight: 500;
}

.MuiInputBase-colorPrimary {
  padding: 0 !important;
}

input {
  box-shadow: 2px 4px 6px rgb(0 0 0 / 20%) !important;
}
.house-wrapper {
  padding: 2em 0;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto !important;
  border-radius: 10px !important;
  background-color: white;
}
.house-amenities  {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 77%;
  margin: 2em auto;
  padding: 1em;
  margin-top: 4em;
  border: 1px solid  lightgray;
  border-radius: 10px;
  background: white;
}
.house-amenities  li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 6em;
  height: 6em;
  position: relative;
  padding-top: 1em;
}
.house-amenities img {
  height: 1.5em;
  width: 1.5em;
  padding: 0.5em;
}
.house-amenities img.sm {
  height: 1.2em;
  width: 1.2em;
}
.house-amenities img.bedrooms {
  height: 1.9em;
  width: 1.5em;
}
.house-amenities p {
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
  padding-top: 0.5em;
}
.amenities-modal .MuiBox-root {
  width: 60%;
  max-height: 70%;
  border: 1px solid lightgray !important;
  font-family: "OpenSans-Light";
}
.amenities-modal .MuiBox-root h4 {
  text-align: center;
}
.amenities-full-list {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap; 
}
.amenities-full-list li {
  padding: 0.5em;
  margin: 0.2em 1em;
  color: gray;
}
@media only screen and (max-width: 700px) {
  .toursAndConferencesBullets li {
    margin: 0.4em 0 !important;
  }
  .toursAndConferences-wrapper {
    height: 50vh !important;
  }
  .section {
    margin: 0;
  }
  #about {
    margin-bottom: 2em;
  }
  .section h2 {
    margin-top: 0;
  }
  #folklore, .folklore-wrapper {
    margin: 0
  }
  .folklore-wrapper .swiper .swiper-slide p {
    margin: 0 1em ;
  }
  .folklore-wrapper .swiper .swiper-slide {
    padding: 1em 0 0.5em;
  }
  #information {
    margin: 0;
  }
.vitaminTable {
  display: none !important;
}
.nutritionalValueInAMushroomList li p {
  font-size: 18px;
  width: 70vw;
}
.typesAndSpeciesBullets li {
  margin-bottom: 0.4em !important; 
}
  .amenities-full-list li {
    padding: 0.5em;
    margin: 0em 0.7em;
  }
  .inner-section h2 {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    font-size: 26px;
  }
  .inner-section p {
    font-size: 16px;
  }
  .amenities-modal .MuiBox-root {
    transform: translate(-55%, -50%) !important;
    overflow-y: scroll;
  }
}
@media only screen and (max-width: 800px) {
  .house-amenities {
    flex-wrap: wrap;
    width: 72%;
  }
}

.close-modal {
  color: #000 !important;
  padding: 0 !important;
  min-width: 32px !important;
}

.MuiFormHelperText-root {
  font-size: 0.9em !important;
  position: absolute !important;
  bottom: -25px !important;
}

.tableCellValue {
  margin-right: 10px;
}

div[class*="columnHeaderTitle"] {
  font-family: "OpenSans-Light";
  font-size: 20px;
  font-weight: 800;
}

.MuiDataGrid-columnHeaders {
  background-color: #96B7C4;
}

.even {
  background-color: #f5f5f5;
}

.type {
  margin-left: 10px;
  text-decoration: none;
  color: black;
}

.MuiGrid-container {
  display: flex;
  justify-content: center;
}

.MuiGrid-container .MuiPaper-elevation {
  transition: 0.3s ease-in-out; 
}

.MuiGrid-container .MuiGrid-item img {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.MuiGrid-container .MuiGrid-item * {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "OpenSans-Light";
  max-width: 250px;
}

.MuiGrid-container .MuiGrid-grid-xs-true .MuiGrid-root {
  padding-left: 0;
}

.MuiGrid-container .MuiPaper-elevation {
  min-height: 320px !important;
}

.MuiGrid-container .MuiPaper-elevation:hover {
  background-color: rgb(205, 229, 235);
  transform: scale(1.1); 
}

.featureImg {
  width: 320px;
}

@media only screen and (max-width: 500px) {
  .featureImg {
    width: 200px;
  }
}

.MuiGrid-container .MuiPaper-elevation:hover img {
  filter: sepia(100%)
}

.type-structures {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 45vh;
}

.chapter { 
  height: min-content !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.chapter .wrapper { 
  height: 60%;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .chapter .wrapper { 
    height: 100%;
  }
  
  .chapter { 
    height: min-content !important;
    padding-bottom: 30px;
  }
}

.chapter h3 { 
  margin-top: 1em;
}

.structures-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.types-button {
  border: 1px solid black;
  margin: 1em;
  padding: 5em;
  border-radius: 15px;
  box-shadow: 4px 8px 16px lightgray;
  background-color: #f5f5f5f5;
  font-size: 20px;
  transition: 0.2s ease-in-out all;
  font-family: "MPLUSRounded1c";
  width: 300px;
  text-align: center;
}

.types-button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px lightgray;
  background-color: white;
}

.chosen-button {
  background-color: #96B7C4;
  color: white;
  font-weight: 700;
  -webkit-text-stroke: 1px black; 
}

.typesAndSpeciesWrapper .MuiPaper-elevation {
  background-color: white !important;
}

.typeGridCell .MuiPaper-elevation:first-child {
  background-color: #f5f5f5f5 !important;
}

@media only screen and (max-width: 1000px) {
  .typeGridCell .MuiPaper-elevat
  ion:first-child {
    max-width: 200px;
  }
}
.MuiGrid-container .MuiPaper-elevation:hover {
  background-color: rgba(150, 183, 196, 0.6) !important;
  transform: scale(1.1); 
  color: white;
  font-family: "MPLUSRounded1c";
  box-shadow: 4px 4px 8px gray;
}
.type.disabled {
  pointer-events: none;
}
.url-type {
  color: #007aff !important;
}

.sizes-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.type-sizes {
  text-align: center;
  width: 100%;
  flex-wrap: wrap;
  height: 35vh;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
}

.call-to-action p {
  font-family: "MPLUSRounded1c";
  font-size: 20px;
  margin: 30px 20px;
  text-align: center;
}

.call-to-action img {
  width: 30px;
}

.typesAndSpeciesTitle {
  margin-top: 0;
  margin-bottom: 1em !important;
}

.MuiAutocomplete-root {
  background-color: white;
  margin: 2em 0 5em;
}

.typesWrapper {
  background-color: #f5f5f5;
  width: 100vw;
  text-align: center !important;
}

.sizes-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.missingImgWrapper {
  text-align: center;
}

.missingImg {
  width: 500px;
}

@media only screen and (max-width: 600px) {
  .missingImg {
    width: 200px;
  }
}

.missingDataTextWrapper {
  margin-top: 10em ;
  margin-bottom: 1.5em !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.missingDataText1 {
  font-size: 46px !important;
  margin: 0 !important;
}

.missingDataText2 {
  font-size: 36px !important;
  margin: 0 !important;
}


@media only screen and (max-width: 600px) {
  .missingDataText1 {
    font-size: 30px !important;
  }
  .missingDataText2 {
    font-size: 20px !important;
  }
}

.type-structures {
  text-align: center;
}

.type-platforms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
}
.type-types {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.types-wrapper {
  width: 80%;
}

.type-link {
  text-decoration: none;
  margin: 0 10px;
  font-size: 26px;
}

.type-link a {
  text-decoration: none;
  color: black;
  transition: 0.2s ease-in-out all;
}

.type-link a:hover {
  cursor: pointer;
  font-size: 28px;
  color: blue;
}

.not-chosen-button {
  opacity: 0.3;
}

.offset {
  box-shadow: 0.3em 0.3em 0 0 var(white), inset 0.3em 0.3em 0 0 var(--color);
  display: flex;
  flex-direction: column;
}

.offset div {
  margin: 5px 0;
}

.offset:hover, .button-chosen {
  box-shadow: 0 0 0 0 var(--hover), inset 8.2em 8.2em 0 0 var(--hover);
  cursor: pointer;
}

.offset {
  --hover: #96B7C4;
  --color: black;
}

.offset {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  transition: 0.25s;
  background: rgb(243, 242, 242);
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 10px;
  font-size: 18px;
  width: 120px;
  height: 120px;
}

button:hover, .button-chosen {
  border-color: var(--hover);
  color: #fff;
}

.typesKeyWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 40px;
}

.MuiTypography-subtitle1 {
  width: 93% !important;
}

.typesKeyTitle {
  font-size: 20px !important;
}

.typesKeySubtitle {
  font-size: 16px !important;
}


.back-to-top {
  background-color: #000000 !important;
  color: #ffffff !important;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  z-index: 999;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 50%;
  font-family: "MPLUSRounded1c";
  text-decoration: none;
  transition: all 0.7s linear;
  display: flex;
  align-items: center;
}

.folkloreText {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 10;
  padding: 20px;
  border-radius: 25px;
  margin: 20px 0 50px;
  width: 78.2vw;
  font-size: 18px;
}

@media only screen and (max-width: 1400px) {
  .folkloreText {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1000px) {
  .folkloreText {
    font-size: 14px;
  }
}

a.back-to-top {
  line-height: 12px;
  font-weight: 1000;
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 2px;
}

.tlvImg {
  max-width: 180px;
}
@media only screen and (min-width: 1000px) {
  .back-to-top:hover {
    background-color: rgb(205, 229, 235);
    transform: scale(1.2);
    text-shadow: 2px 2px 2px white;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 2px 2px white, 0 0 25px lightblue, 0 0 5px gray;
    cursor: pointer;
  }
}

.back-to-top.show {
  opacity: 1;
}

.typesAndSpeciesWrapper label.MuiInputLabel-animated {
  right: -100px !important;
  transition: 0.3s;
  top: -7px;
}

.typesAndSpeciesWrapper label.Mui-focused {
  right: -200px !important;
  top: 2px;
}

.typesAndSpeciesWrapper .MuiAutocomplete-endAdornment {
  left: -250px !important;
}

.typesAndSpeciesWrapper .MuiAutocomplete-input {
  direction: rtl !important;
}

.hr {
  color: black;
  width: 100%;
  border-style: dashed;
}

.header-dot {
  width: 40px !important;
  height: 40px !important;
  position: absolute !important;
  bottom: -9px;
  right: 25px;
}

.header-second-dot {
  width: 40px !important;
  height: 40px !important;
  position: absolute !important;
  bottom: -9px;
  right: 153px;
}

.header-two-dots {
  width: 40px !important;
  height: 40px !important;
  position: absolute !important;
  bottom: -13px;
  right: 95px;
}

@media only screen and (max-width: 1000px) {
  .header-dot {
    width: 30px !important;
    height: 30px !important;
    bottom: -12px !important;
    right: 5px !important;
  }

  .offset {
    padding: 5px;
  }

  .header-second-dot {
    width: 30px !important;
    height: 30px !important;
    position: absolute !important;
    bottom: -12px !important;
    right: 65px !important;
  }
  
  .header-two-dots {
    width: 30px !important;
    height: 30px !important;
    position: absolute !important;
    bottom: -15px !important;
    right: 38px;
  }
  

@media only screen and (max-width: 500px) {
  .header-dot {
    width: 30px !important;
    height: 30px !important;
    bottom: -14px !important;
    right: -3px !important;
  }
  
  .header-second-dot {
    width: 30px !important;
    height: 30px !important;
    position: absolute !important;
    bottom: -14px !important;
    right: 31px !important;
  }
  
  .header-two-dots {
    width: 30px !important;
    height: 30px !important;
    position: absolute !important;
    bottom: -15px !important;
    right: 15px;
  }
}
}
#capMushroomParts .imgWrapper {
  text-align: center;
  padding-top: 60px;
}
#capMushroomParts .imgWrapper p {
  text-align: center;
}
#capMushroomParts .imgWrapper img {
  max-width: 40vw !important;
  text-align: center;
}

.fairySlide .imgWrapper {
  margin-top: 30px;
  text-align: center !important;
}
.fairySlide img {
  display: inline;
  align-self: center;
  width: 180px !important;
  height: 180px !important;
}
.fairySlide p {
  text-align: center;
  margin-top: -10px;
}

.folklore-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min-content !important;
}
.folklore-wrapper .swiper {
  height: min-content !important;
}
.folklore-wrapper .swiper .swiper-slide {
  padding-bottom: 40px !important;
  height: min-content !important;
}