@font-face {
  font-family: "GlassAntiqua-Regular";
  src: url("../assets/fonts/GlassAntiqua-Regular.ttf");
}
@font-face {
  font-family: "JosefinSlab";
  src: url("../assets/fonts/JosefinSlab-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "JosefinSlab";
  src: url("../assets/fonts/JosefinSlab-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "JosefinSlab";
  src: url("../assets/fonts/JosefinSlab-Thin.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "JosefinSlab";
  src: url("../assets/fonts/JosefinSlab-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "JosefinSlab";
  src: url("../assets/fonts/JosefinSlab-Medium.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "JosefinSlab";
  src: url("../assets/fonts/JosefinSlab-Bold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "MPLUSRounded1c";
  src: url("../assets/fonts/MPLUSRounded1c-Thin.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "MPLUSRounded1c";
  src: url("../assets/fonts/MPLUSRounded1c-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "MPLUSRounded1c";
  src: url("../assets/fonts/MPLUSRounded1c-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "MPLUSRounded1c";
  src: url("../assets/fonts/MPLUSRounded1c-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "MPLUSRounded1c";
  src: url("../assets/fonts/MPLUSRounded1c-ExtraBold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "MPLUSRounded1c";
  src: url("../assets/fonts/MPLUSRounded1c-Black.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../assets/fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: "RubikDoodleShadow";
  src: url("../assets/fonts/RubikDoodleShadow-Regular.ttf");
}

body,
html {
  scroll-behavior: smooth;
}

body {
  overflow: visible;
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  overflow-x: hidden;
  position: relative;
}
body.modal-open {
  overflow: hidden;
}

h2 {
  font-size: 2em;
  font-weight: 500;
}

h3 {
  font-size: 1.6em;
  font-weight: 300;
}

.nav {
  justify-content: space-between;
  direction: ltr !important;
  z-index: 10;
}

#nav {
overflow: hidden;
height: min-content;
z-index: 1000;
}

#nav .dropdown {
  position: fixed;
  top: 50px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
  z-index: 200;
  padding: 0;
  text-align: center;
  padding: 20px 25px;
}

#nav .dropdown .submenu-item {
  z-index: 1000;
  list-style-type: none;
  padding-top: 20px;
}
#nav .dropdown .englishLink {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0px !important;
}

#nav .dropdown .submenu-item a {
  text-decoration: none;
  color: #000;
  transition: all 0.25s;
  font-size: 1.1em;
}

#nav .dropdown .submenu-item a:hover {
  color: lightskyblue !important;
}

.nav-text-link a {
  color: black;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.2px;
  padding-right: 30px;
  transition: all 0.25s;
}
@media only screen and (max-width: 1400px) {
  .nav-text-link a {
    font-size: 18px;
  }
  .nav-text-link a:hover {
    font-size: 21px;
  }
}
@media only screen and (max-width: 1000px) {
  .nav-text-link a {
    font-size: 14px;
  }
}

.menu-items {
  position: absolute;
  z-index: 100;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.5em;
}

.menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  list-style: none;
  margin: 1em 0;
}
.menu-items li a {
  color: black;
  font-size: 2em;
  text-decoration: none !important;
  transition: all 0.1s ease-in-out;
}
.menu-items li a:hover {
  color: lightskyblue !important;
  font-size: 1.8em;
}

.nav-text-link a:hover {
  color: lightskyblue;
  text-decoration: none;
  transition: all 0.25s;
  font-size: 1.5em;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo a {
  color: black;
  letter-spacing: 0.2px;
  text-decoration: none;
  padding-left: 20px;
  transition: all 0.25s;
  display: flex;
}

.nav-logo a:hover {
  color: lightskyblue;
  text-decoration: none;
  transition: all 0.25s;
}

.navcolumn1 {
  margin-left: 0px;
  display: flex;
  flex-grow: 0;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1em;
}

.navcolumn1 .languages {
  margin: 0 2em;
  display: flex;
}

.navcolumn1 .languages .language {
  margin: 0 0.4em;
  background: transparent;
  border: none;
}

.navcolumn1 .languages .language:hover{
  cursor: pointer;
}

.navcolumn1 .languages .language {
  margin: 0;
  background: transparent;
  border: none;
}

.navcolumn1 .languages .language img {
  width: 2.2em;
  height: 2.2em;
  background: transparent;
  transition: 0.2s ease-in-out;
}

.navcolumn1 .languages .language img:hover {
  transform: scale(1.2);
}

.navcolumn2 {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  flex-grow: 0;
  padding: 0 1em;
  position: relative;
}

.nav {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 0px;
  margin-bottom: 0.6rem;
  width: 100%;
  overflow: auto;
  align-content: center;
  height: 60px;
  background: white;
  position: fixed;
  z-index: 1;
  transition: all 1s;
  margin-left: 0px !important;
  padding-left: 0px;
  padding-right: 0px;
}
.nav .nav-text-link {
  display: flex;
  align-items: center;
}
.nav .hamburger {
  display: none !important;
  justify-content: flex-start;
  display: flex;
  flex-grow: 0;
}
.nav .hamburger .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}
.nav .hamburger .hamburger {
  position: relative;
}
.nav .hamburger .hamburger .nav-container li {
  list-style: none;
}
.nav .hamburger .hamburger .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}
.nav .hamburger .hamburger .nav-container a:hover {
  font-weight: bolder;
}
.nav .hamburger .nav-container {
  display: block;
  position: relative;
  height: 60px;
}
.nav .hamburger .nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  right: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.nav .hamburger .nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav .hamburger .nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}
.nav .hamburger .nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.nav .hamburger .nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}
.nav .hamburger .nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
.nav .hamburger .nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}
.nav
  .hamburger
  .nav-container
  input[type="checkbox"]:checked
  ~ .hamburger-lines
  .line1 {
  transform: rotate(45deg);
}
.nav
  .hamburger
  .nav-container
  input[type="checkbox"]:checked
  ~ .hamburger-lines
  .line2 {
  transform: scaleY(0);
}
.nav
  .hamburger
  .nav-container
  input[type="checkbox"]:checked
  ~ .hamburger-lines
  .line3 {
  transform: rotate(-45deg);
}
.nav .hamburger .nav-container .hamburger-lines.closed .line3,
.nav .hamburger .nav-container .hamburger-lines.closed .line2,
.nav .hamburger .nav-container .hamburger-lines.closed .line1 {
  transform: rotate(0) !important;
}
.nav .hamburger .nav-container .hamburger-lines.open .line1 {
  transform: rotate(45deg) !important;
}
.nav .hamburger .nav-container .hamburger-lines.open .line2 {
  transform: scaleY(0) !important;
}
.nav .hamburger .nav-container .hamburger-lines.open .line3 {
  transform: rotate(-45deg) !important;
}
.nav .hamburger .nav-container input[type="checkbox"]:checked ~ .logo {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .nav .navcolumn2 {
    display: none;
  }
  .nav .hamburger {
    display: block !important;
  }
}
.logo {
  font-size: 2.4em !important;
  font-weight: 500;
  text-decoration: none;
  color: #000;
  position: relative;
}

.header-welcome {
  font-size: 3em !important;
}

.header-logo {
  font-family: "RubikDoodleShadow";
  position: relative;
  width: max-content;
  margin: 0 auto;
  font-size: 7em !important;
}
.logo.footer-logo {
  font-size: 1em !important;
  padding-left: 0.3em;
}
.logo.footer-logo:after {
  right: 2.15em;
  top: 35%;
}
@media only screen and (max-width: 800px) {
  .logo {
    font-size: 1.8em !important;
  }
  .header-logo {
    font-size: 3em !important;
  }
  h1 {
    font-size: 2em !important;
  }
  textArea {
    width: -webkit-fill-available !important;
  }
}

@media only screen and (max-width: 500px) {
  #header {
    padding: 50px 0 !important;
  }

  .nav-logo a {
    padding-left: 0;
  }
  
  h1 {
    font-size: 1.3em !important;
  }
.header-logo {
  font-size: 2em !important;
}
}

.goBackWrapper {
  margin: 2em 5em;
}

.goBack {
  text-decoration: none;
  color: #000;
}

.goBack:hover {
  color: lightskyblue !important;
}

.informationText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.informationText p {
  width: 75vw;
}

.informationText ul {
  width: 65vw;
}

.informationImages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em 0 0;
}

.informationImages .imgWrapper {
  width: 50em;
  flex-direction: column;
  margin: 2em 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.informationImages .imgWrapper img{
  width: 40em;
}

.nutritionalValueInAMushroomList li p {
  font-size: 22px;
}

.vitaminTable {
  border: 1px solid black;
  margin: 3em 0 5em;
}

.vitaminTable tr th {
  background-color: lightblue;
  padding: 15px;
}

.vitaminTable tr td {
  padding: 10px;
}

.vitaminTable .tableMushroom {
  font-weight: 700;
}

.informationImages .imgWrapper p {
  font-size: 1.2em;
}

.hide {
  margin-top: -60px;
}

.show {
  margin-top: 0px;
  padding: 10px 0;
}

header {
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  height: 92vh;
  letter-spacing: 4px;
}

.bg-img {
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1700px) {
  header {
    height: 60vw;
  }
}

@media only screen and (max-width: 600px) {
  header {
    height: 50vw;
  }
}

header h1 {
  font-size: 2em;
  font-weight: 300;
  margin: 0;
  color: black;
  text-shadow: 2px 5px 7px black;
  -webkit-text-stroke: 2px black;
  /* width and color */
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3em 0;
}
@media only screen and (max-width: 1000px) {
  .section {
    margin: 7em 0;
  }
}

@media only screen and (max-width: 500px) {
  .section {
    margin: 6em 0;
  }
}
.inner-section h2 {
  text-align: center;
  margin-bottom: 2em;
  font-size: 3em;
}
.inner-section p {
  font-size: 1.5em;
  line-height: 2;
  margin: 0;
  text-align: right;
  font-weight: 400 !important;
}
.inner-section ul li {
  font-size: 1.5em;
  line-height: 1.5;
  margin: 0;
  text-align: right;
}
.whatsInSite {
  font-size: 2em;
}
@media only screen and (max-width: 600px) {
  .inner-section {
    font-size: 3vw;
  }
}

#about {
  position: relative;
}
.aboutWhatsInSiteBullets {
  margin-bottom: 2em;
}
#about .corner-bottom-right {
  position: absolute;
  width: 8em;
  top: 3em;
  left: 25em;
  transform: rotate(85deg);
}
@media only screen and (max-width: 1600px) {
  #about .corner-bottom-right {
    top: -5em;
    left: 15em;
  }
}
@media only screen and (max-width: 1150px) {
  #about .corner-bottom-right {
    top: -8em;
    left: 3em;
  }
}
@media only screen and (max-width: 600px) {
  #about .corner-bottom-right {
    display: none;
  }
}
#about .corner-top-left {
  position: absolute;
  width: 8em;
  bottom: 0;
  right: 25em;
  transform: rotate(-95deg);
}
@media only screen and (max-width: 1600px) {
  #about .corner-top-left {
    right: 15em;
    bottom: -5em;
  }
}
@media only screen and (max-width: 1150px) {
  #about .corner-top-left {
    bottom: -8em;
    right: 3em;
  }
}
@media only screen and (max-width: 600px) {
  #about .corner-top-left {
    display: none;
  }
}

.about-wrapper {
  width: 70vw;
}

.about-wrapper p {
  font-weight: 300;
}

@media only screen and (max-width: 1150px) {
  .about-wrapper {
    width: 60vw;
  }
}
.about-wrapper h2 {
  margin-bottom: 1.3em;
}

#gallery {
  position: relative;
}

#gallery h2 {
  margin-top: 2em;
}

#gallery .mushroom-classification {
  position: relative;
  width: max-content;
  margin: 1em auto;
  font-family: "OpenSans-Light";
  font-size: 2em;
}

@media only screen and (max-width: 1000px) {
  #gallery {
    margin: 9em 0;
  }
}
@media only screen and (max-width: 500px) {
  #gallery {
    margin: 9em 0;
  }
}

.swiper {
  width: 80%;
  height: 40vw;
  z-index: 0;
}
@media only screen and (max-width: 1300px) {
  .swiper {
    width: 75%;
    height: 40vw;
  }
}
@media only screen and (max-width: 600px) {
  .swiper {
    width: 80%;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.swiper-slide img:hover {
  cursor: pointer;
  opacity: 0.6;
}
.lazyload-wrapper {
  height: 100%;
  border-radius: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  color: black;
  transition: 0.25s all ease-in-out;
  padding: 0.5em;
  border-radius: 5px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 800px) {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 20px !important;
  }
}

#lightbox-img {
  height: 90vh;
  max-width: 90vw;
  object-fit: cover;
}

#lightbox {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.developedByLink {
  text-decoration: none;
  color: #000;
}
.developedByLink:hover {
  color: lightskyblue !important;
}

#folklore {
  text-align: center;
}
.folkloreSubtitle {
  z-index: 10;
  opacity: 1;
  font-weight: 500;
  margin: 0;
  font-size: 3em;
}
.folkloreData {
  text-align: justify !important;
}

@media only screen and (max-width: 800px) {
  #folklore {
    margin: 12em 0 0;
  }
}

.folklore-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 130vh;
}
@media only screen and (max-width: 800px) {
  .folklore-wrapper {
    margin: 3em 0 5em;
  }
}
.folklore-wrapper .swiper {
  height: 100vh;
  width: 80vw;
}
@media only screen and (max-width: 1000px) {
  .folklore-wrapper .swiper {
    width: 90%;
  }
}
@media only screen and (max-width: 600px) {
  .folklore-wrapper .swiper {
    height: min-content !important;
  }
  .folklore-wrapper .swiper .swiper-slide p {
    font-size: 3.2vw !important;
  }
}

.folklore-wrapper .swiper .folkloreName {
  text-align: right;
  font-weight: 700;
  margin-bottom: 1em !important;
}
 .folklore {
  font-weight: 500;
  line-height: 1.5;
}
.folklore-wrapper .swiper .swiper-button-next,
.folklore-wrapper .swiper .swiper-button-prev {
  color: black;
}
#folklore .swiper-wrapper {
  align-items: center;
}

.folklore-wrapper .swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  justify-content: flex-start;
  padding: 4em 0;
  height: fit-content !important;
}
.folklore-wrapper .swiper .swiper-slide p {
  font-size: 1.3em;
  margin: 0 5em;
}
@media only screen and (max-width: 1450px) {
  .folklore-wrapper .swiper .swiper-slide p {
    font-size: 1.5vw;
  }
}
@media only screen and (max-width: 1200px) {
  .folklore-wrapper .swiper .swiper-slide p {
    font-size: 1.7vw;
  }
}
@media only screen and (max-width: 800px) {
  .folklore-wrapper .swiper .swiper-slide p {
    font-size: 2.5vw;
  }
}

.folklore-wrapper .swiper .swiper-slide img {
  width: 1.5em;
  height: 1.5em;
  margin: 0.2em 0;
}

.folklore-bg {
  background-image: url("../assets/images/wooden-background.jpg");
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 800px) {

  .MuiFormControl-root, .input-wrapper {
    width: 100% !important;
  }
   .textArea-input-wrapper {
    margin: 0 !important;
    margin-top: 1.4em !important;
  }
}

.MuiBox-root {
  margin: 20px !important;
  font-weight: 700;
}

.gallery-wrapper {
  background-color: #f5f5f5;
  padding-bottom: 3em;
}

.gallery-wrapper h2 {
  padding-top: 2em;
}

#information {
  margin: 5em 0;
}

#information .dataList {
  display: flex;
  justify-content: center;
}

#information .dataList ul {
  width: 70%;
}

#information .dataList ul li {
  margin: 1em 0;
}

#information .dataList ul li a {
  text-decoration: none;
  color: #000;
}

#information .dataList ul li a:hover {
  color: lightblue;
}

.information-wrapper {
  text-align: center;
}
.information-wrapper h2 {
  margin: 0 0 1em;
}

footer {
  margin: 3em 0 0;
  text-align: center;
  font-size: 1.2em;
  padding: 2em 0;
  background-color: #f5f5f5;
}

.devider {
  width: 50vw;
  margin-bottom: 2em;
}
@media only screen and (min-width: 600px) {
  .devider {
    display: none;
  }
}

.swiper-slide-wrapper {
  display: flex;
  flex-direction: column;
}

.swiper-image-title {
  position: absolute;
  top: 1em;
  background: rgba(255, 255, 255, 0.5);
  font-size: 0.8em !important;
  line-height: 0.8 !important;
  padding: 0.5em;
  border-radius: 5px;
  font-weight: 500;
}

.house-swiper {
  margin-bottom: 4em;
}

.swiperDevider {
  width: 15em;
  margin-top: 1em;
}

@media only screen and (max-width: 600px) {
  .swiper-image-title {
    font-size: 0.5em !important;
  }
}

fieldset {
  border: none !important;
}

.MuiInputAdornment-positionEnd {
  position: absolute;
  right: 7px;
  top: 17px;
}

label.MuiInputLabel-animated {
  color: black !important;
}

label.Mui-focused {
  color: lightskyblue !important;
}

.to {
  font-weight: 500;
}

.MuiInputBase-colorPrimary {
  padding: 0 !important;
}

input {
  box-shadow: 2px 4px 6px rgb(0 0 0 / 20%) !important;
}
.house-wrapper {
  padding: 2em 0;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto !important;
  border-radius: 10px !important;
  background-color: white;
}
.house-amenities  {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 77%;
  margin: 2em auto;
  padding: 1em;
  margin-top: 4em;
  border: 1px solid  lightgray;
  border-radius: 10px;
  background: white;
}
.house-amenities  li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 6em;
  height: 6em;
  position: relative;
  padding-top: 1em;
}
.house-amenities img {
  height: 1.5em;
  width: 1.5em;
  padding: 0.5em;
}
.house-amenities img.sm {
  height: 1.2em;
  width: 1.2em;
}
.house-amenities img.bedrooms {
  height: 1.9em;
  width: 1.5em;
}
.house-amenities p {
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
  padding-top: 0.5em;
}
.amenities-modal .MuiBox-root {
  width: 60%;
  max-height: 70%;
  border: 1px solid lightgray !important;
  font-family: "OpenSans-Light";
}
.amenities-modal .MuiBox-root h4 {
  text-align: center;
}
.amenities-full-list {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap; 
}
.amenities-full-list li {
  padding: 0.5em;
  margin: 0.2em 1em;
  color: gray;
}
@media only screen and (max-width: 700px) {
  
.vitaminTable {
  display: none !important;
}
.nutritionalValueInAMushroomList li p {
  font-size: 18px;
  width: 70vw;
}

  .amenities-full-list li {
    padding: 0.5em;
    margin: 0em 0.7em;
  }
  .inner-section p {
    width: 90vw;
  }
  .amenities-modal .MuiBox-root {
    transform: translate(-55%, -50%) !important;
    overflow-y: scroll;
  }
}
@media only screen and (max-width: 800px) {
  .house-amenities {
    flex-wrap: wrap;
    width: 72%;
  }
}

.close-modal {
  color: #000 !important;
  padding: 0 !important;
  min-width: 32px !important;
}

.MuiFormHelperText-root {
  font-size: 0.9em !important;
  position: absolute !important;
  bottom: -25px !important;
}