.top-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-container .header {
  padding-top: 0;
}

.top-container .header-img {
  width: 17vw;
}

.heading-2 {
  margin: 0;
}

.heading-3 {
  margin: 0;
  font-weight: 400;
  position: relative;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

.heading-3::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 4em;
  bottom: -0.3em;
  left: 50%;
  transform: translateX(-2em);
  background-color: #2a78ff;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container form fieldset {
  border: none;
  margin-bottom: 1em;
}

.form-container form input {
  height: 2.5em;
  box-shadow: 0px 54px 99px #0000000d;
  border: 1px solid #21334eb0;
  border-radius: 40px;
  /* margin: 0.5em; */
  width: 20em;
  font-size: 1.1vw;
  padding: 0 1em 0 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.form-container form input::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.form-container form input:focus {
  outline: none;
}

.form-container form input.errInd {
  border: 1px solid red;
  color: red;
}

.form-container form .formBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14em;
  font-size: 1.4vw;
  margin: 0 1em;
  font-weight: 200;
  border-radius: 5em;
  padding: 0.5em 0.5em 0.6em 0;
  left: calc(50% - 5em) !important;
  top: 65%;
  box-shadow: 0 19px 38px rgba(32, 14, 190, 0.322),
    0 5px 12px rgba(48, 25, 179, 0.082);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #2a78ff;
  color: white;
  border: none;
}
.form-container form .formBtn:hover {
  box-shadow: 0 14px 28px rgba(26, 36, 182, 0.25),
    0 10px 10px rgba(55, 15, 233, 0.22);
  transform: scale(0.95);
  cursor: pointer;
}

.error {
  margin-right: 10px;
  margin-top: 2px;
  font-size: 13px;
  color: red;
  display: block;
  text-align: right;
  height: 0;
}

@media only screen and (max-width: 1024px) {
  .top-container .header .header-img {
    width: 20vw;
  }
  .heading-2 {
    font-size: 2vw;
    margin-bottom: 0.5em;
  }

  .heading-3 {
    font-size: 1.5vw;
    margin-bottom: 2em;
  }

  .form-container form input {
    height: 3em;
    font-size: 1.6vw;
  }

  .form-container form fieldset {
    margin-bottom: 1em;
  }

  .form-container form .formBtn {
    font-size: 1.6vw;
  }

  .error {
    margin-right: 1vw;
    margin-top: 2px;
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    margin-top: 0;
  }

  .top-container .header .header-img {
    width: 45vw;
  }
  .heading-2 {
    font-size: 5vw;
    margin-bottom: 0.5em;
  }

  .heading-3 {
    font-size: 4.5vw;
    margin-bottom: 2em;
  }

  .form-container form input {
    height: 3em;
    font-size: 3vw;
  }

  .form-container form fieldset {
    margin-bottom: 1em;
  }

  .form-container form .formBtn {
    font-size: 3.5vw;
  }

  .error {
    margin-right: 1vw;
    margin-top: 2px;
    font-size: 3vw;
  }
}
