.top-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-img {
  width: 20vw;
  animation: fadeIn 5s ease-in-out;
}

.button {
  display: flex;
  justify-content: center;
}

.startBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em 1.5em 0.7em 0;
  background-color: #2a78ff;
  font-size: 1.5vw;
  font-weight: 200;
  width: 15vw;
  border-radius: 5em;
  border: none;
  color: white;
  left: calc(50% - 5em) !important;
  top: 65%;
  box-shadow: 0 19px 38px rgba(32, 14, 190, 0.322),
    0 5px 12px rgba(48, 25, 179, 0.082);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.startBtn:hover {
  box-shadow: 0 14px 28px rgba(26, 36, 182, 0.25),
    0 10px 10px rgba(55, 15, 233, 0.22);
  transform: scale(0.95);
  cursor: pointer;
}

.nextArrow {
  fill: white;
  padding-right: 1.5em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    margin-top: -2em;
  }

  .header-img {
    width: 50vw;
  }

  .question {
    font-size: 6vw;
  }

  .startBtn {
    width: 12em;
    height: 3em;
    font-size: 4vw;
  }

  .startBtn svg {
    width: 2vw;
  }

  .logo {
    margin-top: 3em;
  }

  .logo img {
    width: 30vw;
  }

  .person img {
    width: 40vw;
    margin-bottom: -1em;
  }
}
