.final-container {
  animation: fadeIn 3s ease-in-out;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.yes {
  width: 50%;
}

.after-yes {
  height: 1px;
  width: 5em;
  transform: translateY(3em);
  background-color: #2a78ff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1024px) {
  .yes {
    width: 65%;
    margin-top: -5em;
  }

  .final-container .person img {
    width: 60vw;
  }
}
