.right-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  right: 0;
  width: 25%;
  height: 100%;
  text-align: center;
  padding: 2em 0;
  background-color: white;
  box-shadow: -10px 0px 30px #027bb114;
  border-radius: 53px 0px 0px 10px;
}

.right-bar .top-logo img {
  width: 15vw;
}

.circular-chart {
  display: block;
  margin: 25% auto;
  max-width: 50%;
  max-height: 250px;
}

.circle {
  stroke: #2a78ff;
  fill: none;
  stroke-width: 1.5;
  stroke-linecap: round;
  animation: progress 3s ease-out forwards;
  transition: 1s ease-in-out;
}

@keyframes progress {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.precentage {
  position: relative;
  font-size: 2vw;
  margin-top: -7.2em;
  margin-right: -0.3em;
  animation: progress 3s ease-in-out;
  transition: 1s ease-in-out;
}

.precentage .outOf {
  font-size: 0.8vw;
  opacity: 0.5;
}

.bubble {
  position: relative;
}

.bubble img {
  width: 70%;
  transform: rotate(-55deg);
  margin-top: 2em;
}

.bubble .bubText {
  position: absolute;
  top: 48%;
  transform: translateY(-25%);
  right: 30%;
  font-size: 1.2vw;
  width: 50%;
  color: white;
}

@media only screen and (max-width: 1024px) {
  .right-bar {
    width: 95%;
    height: 10%;
    bottom: 0em;
    left: 0;
    margin: 0 auto;
    border-radius: 53px 53px 0px 0px;
    z-index: 100;
  }

  .right-bar .top-logo img {
    width: 12em;
    margin-top: -0.5em;
  }

  .circular-chart {
    margin: auto;
    max-width: 6em;
    max-height: 250px;
    position: absolute;
    right: 1.2em;
    bottom: 1.1em;
  }

  .precentage {
    position: absolute;
    font-size: 1em;
    margin-top: 0;
    margin-right: 0;
    top: 12vw;
    right: 3em;
  }

  .precentage .outOf {
    font-size: 0.8em;
    opacity: 1;
  }

  .bubble {
    position: absolute;
    left: 1em;
    bottom: -0.7em;
    width: 8em;
  }

  .bubble img {
    width: 100%;
    transform: rotate(-55deg);
  }

  .bubble .bubText {
    top: 50%;
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 550px) {
  .right-bar .top-logo img {
    width: 22vw;
    margin-top: 0.5em;
  }
}

@media only screen and (max-width: 450px) {
  .bubble {
    width: 6.6em;
    bottom: 0.5em;
  }

  .bubble .bubText {
    top: 52%;
    width: 64%;
    font-size: 0.5em;
    right: 25%;
  }
}
